@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
.footer {
  width: 100vw;
  display: flex;
  flex-direction: column;
  font-size: 0.7rem;
  font-family: 'Roboto Condensed', sans-serif;
}

.footerItem {
  display: flex;
  justify-content: space-between;
  padding: 10px 24px;
  cursor: pointer;
}

.hrLine {
  border: 0; /* Remove default border */
  height: 1px; /* Set height to make it thinner */
  background-color: rgba(0, 0, 0, 0.25); /* Set color with low opacity */
  margin: 0; /* Optional: remove default margins */
}

.copyright {
  padding: 10px 24px;
}
